## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/jkstuff/Desktop/Data Analytics/World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Mataura,-46.1927,168.8643,40.48,94,100,12.06,NZ,overcast clouds
1,1,Duminichi,53.9345,35.1099,65.71,96,87,6.22,RU,heavy intensity rain
2,2,Punta Arenas,-53.1500,-70.9167,48.31,53,75,10.36,CL,broken clouds
3,3,Ushuaia,-54.8000,-68.3000,47.86,57,0,4.61,AR,clear sky
4,4,Rawson,-43.3002,-65.1023,47.30,57,58,12.37,AR,broken clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
6,6,Kapoeta,4.7717,33.5903,85.03,35,91,17.45,SS,overcast clouds
8,8,Kapaa,22.0752,-159.3190,79.12,73,75,5.75,US,broken clouds
9,9,Naze,28.3667,129.4833,74.80,94,100,19.15,JP,moderate rain
11,11,Butaritari,3.0707,172.7902,81.70,77,100,13.42,KI,light rain
12,12,Goderich,43.7501,-81.7165,83.03,88,64,16.82,CA,broken clouds
18,18,Preeceville,51.9500,-102.6677,72.55,52,4,14.83,CA,clear sky
20,20,Atuona,-9.8000,-139.0333,77.27,82,19,22.28,PF,light rain
21,21,Tura,25.5198,90.2201,74.34,95,83,5.03,IN,broken clouds
25,25,Shalakusha,62.2247,40.2539,70.38,72,84,4.90,RU,broken clouds
29,29,Mucurapo,10.6667,-61.5333,88.02,63,93,12.08,TT,overcast clouds

In [13]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Current Description    0
dtype: int64

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# No empty rows

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Kapoeta,SS,85.03,overcast clouds,4.7717,33.5903,
8,Kapaa,US,79.12,broken clouds,22.0752,-159.3190,
9,Naze,JP,74.80,moderate rain,28.3667,129.4833,
11,Butaritari,KI,81.70,light rain,3.0707,172.7902,
12,Goderich,CA,83.03,broken clouds,43.7501,-81.7165,
18,Preeceville,CA,72.55,clear sky,51.9500,-102.6677,
20,Atuona,PF,77.27,light rain,-9.8000,-139.0333,
21,Tura,IN,74.34,broken clouds,25.5198,90.2201,
25,Shalakusha,RU,70.38,broken clouds,62.2247,40.2539,
29,Mucurapo,TT,88.02,overcast clouds,10.6667,-61.5333,

In [22]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Kapoeta,SS,85.03,overcast clouds,4.7717,33.5903,Eastgate Hotel
8,Kapaa,US,79.12,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Naze,JP,74.80,moderate rain,28.3667,129.4833,奄美ポートタワーホテル
11,Butaritari,KI,81.70,light rain,3.0707,172.7902,Isles Sunset Lodge
12,Goderich,CA,83.03,broken clouds,43.7501,-81.7165,Harmony Inn

In [24]:
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "/Users/jkstuff/Desktop/Data Analytics/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [46]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [56]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))